* {
  box-sizing: border-box;
}

button:focus {
  outline: none !important;
}
[role='button'] {
  outline: none !important;
}
/* Card styling starts here */

#JobsList {
  opacity: 1;
}

.closed {
  border: 1px solid #e1e4e7;
  background-color: #eae7e7;
  color: #000;
  position: relative;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.27) 1px 2px 10px;
  margin-bottom: 20px;
  height: auto;
}

.btnDisabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  font-weight: 500;
  float: right;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.475rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: not-allowed !important;
}

.closedJob {
  position: absolute;
  top: 120px;
  color: red;
}

.active1 {
  padding: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.27) 1px 2px 10px;
  margin-bottom: 20px;
  height: auto;
}

.active1:hover {
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  height: auto;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.cross {
  position: inherit;
  float: right;
  top: 5px;
  margin-right: 10px;
}

.cardBorder {
  height: 150px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.content {
  margin-top: 80px;
}

@media only screen and (max-width: 760px) {
  .cross {
    position: inherit;
    float: right;
    top: -300px;
    margin-right: 10px;
  }

  .searchlist {
    margin-top: 120px;
  }
  .cardBorder {
    height: 150px;
    border-right: none;
  }
  .content {
    margin-top: 55px;
    margin-bottom: 50px;
  }
  .active1 {
    padding: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.27) 1px 2px 10px;
    margin-bottom: 20px;
    height: auto;
  }
  .active1:hover {
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    height: auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.active:hover .btn {
  display: block;
}

.search-list {
  padding: 5px;
}

.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 50% !important;
  background: white;
}

.image {
  width: 150px;
  height: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.font-medium {
  color: rgba(20, 4, 4, 0.5);
  font-family: DINPro-Medium;
}

.font14 {
  font-size: 1.4rem;
  color: black;
}

p {
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 1rem;
}

.img-circle {
  border: 1px solid black;
  background: white;
  height: 150px;
  width: 150px;
  border-radius: 170px;
  overflow: hidden;
}

.headImage {
  border: 1px solid black;
  height: 1em;
  width: 1em;
  font-size: 25px;
  background: whitesmoke;
  border-radius: 170px;
  overflow: hidden;
}

.profile {
  margin-top: 70px;
  margin-bottom: 50px;
}

.update {
  display: none;
}

.btn1 {
  font-weight: 500;
  float: right;
  margin-top: 40px;
  background: #faa74a;
  border-color: #faa74a;
  color: #fff;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.475rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn1:hover {
  font-weight: 500;
  float: right;
  color: #fff;
  text-align: center;
  user-select: none;
  background-color: #000;
  border: 1px solid transparent;
  padding: 0.475rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  display: block;
  border-radius: 0.25rem;
}

.h51 {
  font-weight: bold;
}

.h51:hover {
  color: orange;
  cursor: pointer;
}

a:hover {
  color: orange;
}

/* Card styling ends here */

/* Footer styling here */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.footer-right {
  padding-top: 15px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

/* Footer styling ends here */

/* Authentication styling starts here */

.App {
  margin-top: 90px;
  text-align: center;
}

.dropdown {
  top: 15px;
  left: 15px;
  color: lightgray;
}

.open > .dropdown-menu1 {
  display: block;
}

.dropdown-menu1 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 300px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.navbar-fixed-top {
  z-index: 9999;
}

.navbar-brand {
  font-size: 25px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  width: 100%;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logout {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btnShift {
  margin-top: 10px;
}

.formErrors {
  color: red;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.shift {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .mobile-container-fluid {
    padding: 0 !important;
  }
}

.spinner {
  height: 132px;
  width: 132px;
  text-align: center;
}

.cross {
  float: right;
  margin-right: 10px;
}

.underline {
  text-decoration: underline;
}

.input-group[class*='col-'] {
  float: none;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 0;
}

/*Authentication styling ends here*/

/*Modal styling starts here */

.w3-animate-opacity {
  animation: opac 0.8s;
}

.w3-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.w3-card-4,
.w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.w3-teal,
.w3-hover-teal:hover {
  color: #fff !important;
  background-color: #001 !important;
}

.w3-container,
.w3-panel {
  padding: 0.003em 16px;
}

.w3-large {
  font-size: 18px !important;
}

.w3-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.w3-btn,
.w3-button {
  user-select: none;
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-button:hover {
  background: rgb(218, 206, 206);
  color: #000 !important;
}

.w3-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.w3-large {
  font-size: 20px !important;
}

/*Modal styling ends here */

/* Apply List styling starts here */

.applyList {
  text-align: center;
}

/* Apply List styling ends here */

/* Notification styling starts here */

.button__badge {
  position: absolute;
  background-color: #fb404b;
  text-align: center;
  border-radius: 10px;
  min-width: 13px;
  padding: 10 4px;
  height: 13px;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  line-height: 13px;
  top: 12px;
  left: 25px;
}

.mail {
  background: rgba(108, 226, 247, 0.747);
  color: #000;
  border-bottom: 1px solid #000;
  border-width: 100%;
}

/* Notification styling ends here */

/* Pagination styling starts here */

.pagination {
  margin-bottom: 45px;
  text-align: center;
  left: -1%;
  position: fixed;
  bottom: 0;
}

.pagination span {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  background: #000;
  padding: 8px 16px;
  /* transition: background-color .3s; */
  border: 1px solid #ddd;
}

.pagination span.active {
  background-color: #0099ff;
  color: white;
  border: 1px solid #0099ff;
}

/* Pagination styling ends here */

/* Filter styling starts here */

.select-search-box {
  width: 300px;
  position: inherit;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
}

.select-search-box--multiple {
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.select-search-box::after {
  font-family: fontawesome;
  content: '\f078';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  text-align: center;
  line-height: 50px;
  color: #222f3e;
  z-index: 1;
}

.select-search-box--multiple::after,
.select-search-box--focus::after {
  content: '\f002';
}

.select-search-box__icon--disabled::after {
  content: none !important;
}

.select-search-box--input::after {
  display: none !important;
}

.select-search-box__out {
  display: none;
}

.select-search-box__search {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  padding: 0 20px;
  color: #222f3e;
  -webkit-appearance: none;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 50px;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

input.select-search-box__search {
  line-height: 1;
}

.select-search-box--multiple .select-search-box__search {
  box-shadow: none;
}

.select-search-box--input .select-search-box__search {
  cursor: text;
}

.select-search-box__search:focus {
  cursor: text;
}

.select-search-box__search--placeholder {
  font-style: italic;
  font-weight: normal;
}

.select-search-box input::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: normal;
}

.select-search-box input::-moz-placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: normal;
}

.select-search-box input:-moz-placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: normal;
}

.select-search-box input:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: normal;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

.select-search-box__select {
  display: none;
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  z-index: 100;
  min-height: 49px;
}

.select-search-box--multiple .select-search-box__select {
  display: block;
  position: static;
  border-top: 1px solid #eee;
  border-radius: 0;
  box-shadow: none;
}

.select-search-box__select--display {
  display: block;
}

.select-search-box__option {
  font-size: 16px;
  font-weight: 400;
  color: #616b74;
  padding: 15px 20px;
  border-top: 1px solid #eee;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.select-search-box__option:first-child {
  border-top: none;
}

.select-search-box__option--hover,
.select-search-box__option:hover {
  background: #f4f7fa;
}

.select-search-box__option--selected {
  background: #54a0ff;
  color: #fff;
  border-top-color: #2184ff;
}

.select-search-box__option--selected:hover,
.select-search-box__option--selected.select-search-box__option--hover {
  background: #2184ff;
  color: #fff;
  border-top-color: #2184ff;
}

.select-search-box__group {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  position: relative;
}

.select-search-box__group-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.filter {
  height: 50px;
  margin-top: 80px;
  text-align: center;
  z-index: 1;
}

.space {
  left: 0;
  right: 0;
  margin-left: 15px;
}

/* Filter styling ends here */

/* Chat styling starts here */
.chatApp_w3-modal {
  z-index: 3;
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.chatApp_w3-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.chatApp_panel-primary {
  border-color: #337ab7;
  height: auto;
  overflow: scroll;
}

@media only screen and (max-width: 760px) {
  .chatApp_w3-modal {
    z-index: 3;
    display: none;
    position: absolute;
    top: 50px;
    left: 25%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .chatApp_w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 280px;
  }

  .chatApp_panel-primary {
    border-color: #337ab7;
    height: 300px;
    overflow: scroll;
  }
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.chatApp__loaderWrapper {
  margin: 80px auto;
  text-align: center;
}
.chatApp__loaderText {
  color: #4870df;
  font-weight: bold;
}
.chatApp__loader,
.chatApp__loader::before,
.chatApp__loader::after {
  border-radius: 1em;
  width: 1em;
  height: 1em;
  animation-fill-mode: both;
  animation: loading 1.8s infinite ease-in-out;
}
.chatApp__loader {
  margin: auto;
  color: #4870df;
  font-size: 12px;
  position: relative;
  animation-delay: -0.16s;
}
.chatApp__loader::before,
.chatApp__loader::after {
  content: '';
  position: absolute;
  top: 0;
}
.chatApp__loader::before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.chatApp__loader::after {
  left: 1.5em;
}
.chatApp__room {
  display: flex;
  align-content: flex-start;
  margin-top: 0px;
  animation: fadeChatApp 0.6s ease-in-out;
  animation-fill-mode: forwards;
}
.chatApp__conv {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  float: left;
  margin: 0 2.5rem;
  box-shadow: 0 35px 20px -30px rgba(0, 0, 0, 0.1);
}
.chatApp__convTitle {
  display: inline-block;
  margin: 0 0 2rem 0;
  font-size: 14px;
  font-weight: bold;
  color: #f0f0f0;
  text-transform: uppercase;
  position: relative;
}
.chatApp__convTitle::after {
  content: '';
  position: absolute;
  background-color: #4870df;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  left: 0;
  right: 0;
  bottom: -16px;
}
.chatApp__convTimeline {
  display: flex;
  height: 300px;
  /* padding: 1rem; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.chatApp__convMessageItem {
  padding: 1rem 0 0 0;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  animation: fadeNewMessage 0.5s;
  animation-fill-mode: forwards;
}
.chatApp__convMessageAvatar {
  width: 40px;
  height: 40px;
  border: 5px solid;
  border-color: lavender;
  border-radius: 100%;
  image-rendering: -webkit-optimize-contrast;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chatApp__TitleAvatar {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  image-rendering: -webkit-optimize-contrast;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chatApp__convMessageValue {
  position: relative;
  max-width: 50%;
  min-height: 40px;
  overflow-wrap: break-word;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
.chatApp__convMessageItem--left .chatApp__convMessageAvatar {
  float: left;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue {
  float: left;
  text-align: left;
  margin: 0 0 0 1rem;
  color: #fff;
  background-color: #4870df;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue::before {
  content: '';
  position: absolute;
  top: 14px;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 10px 6px 0;
  border-color: transparent #4870df transparent transparent;
}
.chatApp__convMessageItem--right .chatApp__convMessageAvatar {
  float: right;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue {
  float: right;
  text-align: left;
  margin: 0 1rem 0 0;
  background-color: #e2b5b5;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue::after {
  content: '';
  position: absolute;
  top: 14px;
  right: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #e2b5b5;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue a {
  color: #91ffb1;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue a:hover,
.chatApp__convMessageItem--left .chatApp__convMessageValue a:focus {
  color: #75ff9e;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue a {
  color: #09f;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue a:hover,
.chatApp__convMessageItem--right .chatApp__convMessageValue a:focus {
  color: #007dd1;
}
.chatApp__convSendMessage {
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
}
.chatApp__convSendMessage {
  padding: 1rem;
}
.chatApp__convInput {
  float: left;
  height: 40px;
  border: none;
  padding: 0.5rem 4rem;
  border-radius: 40px;
  margin: 0 0.5rem 0 0;
  width: calc(100% - 52px);
  background-color: #dedfed;
  box-shadow: inset 0 0 0 2px #dedfed;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  transition: 0.15s all ease-in-out;
  box-sizing: border-box;
}
.chatApp__convInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b1b1b1;
  opacity: 1;
}
.chatApp__convInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1;
}
.chatApp__convInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b1b1b1;
}
.chatApp__convInput:focus,
.chatApp__convInput:active {
  box-shadow: inset 0 0 0 2px #7690d6;
}
.chatApp__convInput:focus {
  outline: none;
}
.chatApp__convButton {
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 8px;
  border-radius: 30px;
  color: #fff;
  background-color: #4870df;
  text-align: center;
  box-shadow: 0px 14px 10px -8px rgba(0, 0, 0, 0.2);
  transition: 0.15s all ease-in-out;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chatApp__convButton:hover {
  background-color: #3c559c;
}
.chatApp__convButton i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 10px 0px 0px;
  font-size: 22px;
}
.chatApp__convButton--loading {
  cursor: wait;
  background-color: #4870df;
}
.chatApp__convButton--loading:hover {
  background-color: #4870df;
}
.chatApp__convButton--loading::before,
.chatApp__convButton--loading::after {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 40px;
  background-color: #fff;
}
.chatApp__convButton--loading::after {
  animation: loadSendMessage 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.chatApp__convButton--loading i {
  display: none;
}
.chatApp__convSendMessage--typing .chatApp__convTyping {
  display: block;
}
.chatApp__convTyping {
  position: absolute;
  top: -10px;
  font-size: 10px;
  font-weight: bold;
}
.chatApp__convTypingDot {
  position: relative;
  left: 4px;
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #606060;
  animation: typingMessage 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.chatApp__convTypingDot::before,
.chatApp__convTypingDot::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #606060;
  animation: typingMessage 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.chatApp__convTypingDot::before {
  left: 4px;
  animation-delay: 0.5s;
}
.chatApp__convTypingDot::after {
  left: 8px;
  animation-delay: 1s;
}
@media screen and (max-width: 768px) {
  .chatApp__room {
    flex-wrap: wrap;
    padding: 2rem 1rem;
  }
  .chatApp__conv {
    flex-basis: 100%;
    min-width: auto;
    width: 100%;
    margin: 0;
  }
  .chatApp__conv {
    margin: 0 0 4rem 0;
  }
  .chatApp__convSendMessage {
    position: relative;
    max-width: 300px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
  }

  .chatApp__convTimeline {
    display: flex;
    height: 300px;
    max-width: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    flex-direction: column-reverse;
    overflow-y: auto;
    margin: 0 auto;
  }
}
@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 1em 0 -1.3em;
  }
  40% {
    box-shadow: 0 1em 0 0;
  }
}
@keyframes fadeChatApp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeNewMessage {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes loadSendMessage {
  0% {
    opacity: 1;
    width: 4px;
    height: 4px;
  }
  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes typingMessage {
  0% {
    background-color: #606060;
  }
  50% {
    background-color: #fff;
  }
  60% {
    background-color: #606060;
  }
}

.chatApp__senderTime {
  position: relative;
  float: right;
  font-size: 11px;
}

.chatApp_Title {
  margin-left: 5px;
}
.chatApp_activeStatus {
  position: absolute;
  left: 30px;
  font-size: 13px;
  top: 15px;
  width: 200px;
  letter-spacing: 1px;
  font-family: auto;
  text-transform: initial;
  font-style: italic;
}

/* Chat styling ends here */

/* Emoji styling begin*/
.emoji-mart {
  position: absolute;
  bottom: 50px;
  left: 25px;
  height: 265px;
}

.emoji-mart-scroll {
  overflow-y: scroll;
  height: 120px !important;
  padding: 0 6px 6px 6px;
  will-change: transform;
}
@media only screen and (max-width: 776px) {
  .emoji-mart {
    position: absolute;
    bottom: 50px;
    left: 25px;
    width: 250px !important;
    height: 265px;
  }
}

.emoji-mart-scroll {
  overflow-y: scroll;
  height: 120px;
  padding: 0 6px 6px 6px;
  will-change: transform;
}

.toggle-emoji {
  border: none;
  height: auto;
  position: absolute;
  top: 29px;
  left: 15px;
  background: transparent;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Emoji styling ends */
/* ManageUser Styling starts here */

#showUserDetail {
  display: none;
  color: #000;
}

/* Spinner styling starts here */

.spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  /* background: url(/link/to/your/image); */
  background-size: 100%;
}

.tabs {
  margin-top: 20px;
}

/* Styles for listing table */

.listing-table {
  width: 100%;
  margin-bottom: 40px;
}

.listing-table th,
.listing-table td {
  padding: 10px;
  border-bottom: 1px solid hsl(49, 72%, 52%);
}

.listing-table {
  background: #000;
  color: #fff;
}

.listing-table td:first-child,
.listing-table th:first-child {
  border-right: 1px solid #666;
}

#company {
  text-align: center;
}

#candidate {
  text-align: center;
}

.btn-link {
  font-weight: 400;
  color: #000;
  text-decoration: none;
  border-radius: 0;
}

.btn-link:focus,
.btn-link:hover {
  color: #23527c;
  text-decoration: none;
  background-color: transparent;
}

/* Spinner styling ends here */

/* ManageUser Styling ends here */

/*Loading Overlay */
._loading_overlay_wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: auto;
}

._loading_overlay_content {
  position: fixed;
  left: 45%;
  top: 40%;
}

._loading_overlay_overlay {
  position: fixed !important;
  height: 110vh !important;
  top: 0;
}
/* Loading overlay style ends */

/* ErrorBoundary style begins */
.error-content {
  margin-top: 70px;
}

.error_Heading {
  text-align: center;
  display: flex;
  padding: 5px;
  justify-content: center;
  height: 50px;
  background-color: aliceblue;
}

.error_content_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: cornsilk;
}

.error_oops {
  display: inline-block;
  width: 50%;
  align-items: center;
  text-align: center;
}

.error_details {
  display: inline-block;
  width: 360px;
  align-items: center;
}

.error_fallback {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}
/* ErrorBoundary style ends */

/*Not Found Page Styling Starts Here */

#notfound {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin-left: -15px;
  overflow-y: hidden;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}

.notfound h1 {
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: 900;
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  color: #030005;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 182px;
  }
}
/*Not Found Page Styling Ends Here */
